body {
  font-family: "Poppins", sans-serif;
  color: rgb(104, 100, 110);
}

.container {
  padding: 19px;
  margin: 0 auto;
  max-width: 600px;
}

.weather-app-wrap {
  padding: 30px;
  border-radius: 15px;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}

h1 {
  color: rgb(191, 165, 253);
  font-weight: black;
}

li {
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

ul {
  font-size: 15px;
  margin: 0 auto 10px;
  padding: 0;
  color: rgba(191, 165, 253, 0.863);
}

.report {
  position: relative;
  top: 25px;
}

img {
  max-width: 70px;
}

footer {
  margin: 20px 0 0 4px;
  font-size: 12px;
}

footer a {
  color: rgb(191, 165, 253);
}

.search-bar {
  margin: 0px auto 15px;
}

#search-button {
  margin: 0 10px 0 0;
  border: none;
  padding: 6px 15px;
  border-radius: 20px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background: rgb(198, 183, 255);
  transition: all 150ms ease-in;
}

#current-button {
  margin: 0 10px 0 0;
  border: 1px solid rgb(189, 172, 248);
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
  color: rgb(189, 172, 248);
  background: rgb(255, 255, 255, 0.3);
  transition: all 150ms ease-in;
}

#search-button:hover {
  background: rgba(209, 198, 248, 0.664);
}

#current-button:hover {
  background: rgb(255, 255, 255, 0.8);
}

#search {
  background: white;
  padding: 5px 8px;
  margin: 0 8px 10px 0;
  border: 1px solid rgba(183, 186, 236, 0.2);
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(134, 137, 185, 0.1);
}

#search:focus-visible {
  outline: none;
  box-shadow: 4px 4px 10px rgba(216, 119, 192, 0.2);
  transition: all 150ms ease-in;
}

#temperature {
  font-size: 50px;
  color: rgb(191, 165, 253);
  position: relative;
  top: 20px;
}

#units {
  position: relative;
  top: -6px;
  margin: 0;
  color: rgb(183, 156, 245);
}

#units a {
  color: rgb(183, 156, 245);
  text-decoration: none;
  transition: all 150ms ease-in;
}

#units a:hover,
a:hover {
  color: rgba(250, 94, 255, 0.753);
}
